#principal1{
    margin-top: 100px;
    border-bottom: solid #aed6f1;
    background-image: url(../components/ui/backgroundok.png);
    background-size: cover;
    background-position: center center;
    font-size: xx-large;
    padding: 0 30px;
    min-height: 80vh;      /*Testar tamanhos*/
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal1 a{
    color: white;
}

#effect{        /*serviços, contato, consulta,(?) */
    background-color: rgba(0, 0, 0, 0.50);
    padding: 90px 30px;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    clear: both;
}

.title{    /* */
    background-color: rgba(0, 0, 0, 0.60);
    padding: 70px 30px;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

.title h1{
    font-size: 50px;
}

#content-all{        /*serviços, contato, consulta, ...*/
    border-top: solid #aed6f1;
    color: white;
    background: rgb(57, 96, 122);
    padding: 80px 30px;
    font-size: 1.1em;
}

#content-all p{
    font-size: 1.5em;
}

#content-all a{
    color: white;
}

#content-all li{
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    
    #principal1 {
        margin-top: 0;
        padding: 40px 15px;
        min-height: auto;
    }

    #effect, .title {
        padding: 30px 15px;
        width: 100%;
    }

    #effect{
        padding: 60px 15px;
    }

    #content-all{
        padding: 60px 15px;
    }
    
    #content-all p{
        font-size: 1.4em;
    }
}