/* Botões de acessibilidade */
.button-acess{
    padding: 0 20px;
    gap: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    left: 20px;
}

.button-acess button{
    color: black;  /*Mudar caso necessário*/
    background-color: white;
    border: transparent;
    margin-right: 15px;
    border-radius: 15px;   
}

.button-acess button:hover{
    border: solid black;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
}

@media screen and (max-width: 768px) {
    .button-acess{
        position: fixed;
        z-index: 1200;
        gap: 0;
    }

    .button-acess button{
        height: auto;
        width: auto;
    }
}